## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## IDE
.vs/
.vscode/
*.idea/
*.csproj.user

## OS
.DS_Store
Thumbs.db
references/Dahua/
